<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FamilyTreeProject.Core" version="0.2.0" targetFramework="portable45-net45+win8+wp8" userInstalled="true" />
  <package id="Naif.Core" version="1.1.0" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1" userInstalled="true" />
</packages>